body {

    background: radial-gradient(circle, #000 40%, #001f1f);

    color: white;

    font-family: Arial;

    text-align: center;

}

.title {

    font-size: 60px;

    color: #00ffe1;

    text-shadow: 0 0 40px #00ffe1;

}

.member {

    margin: 20px;

    padding: 20px;

    border: 1px solid #00ffe1;

    border-radius: 15px;

    transition: 0.3s;

}

.member:hover {

    transform: scale(1.05);

    box-shadow: 0 0 30px #00ffe1;

}

img {

    width: 90px;

    border-radius: 50%;

}
